:root{

--main-color-background: #011212;
--main-color-ball: #ff8800;
--width: 100px;
--height: 100px;
--border-radius: 50px;
}

body {
    background-color: var(--main-color-background, gray);
}

.ball {
    width: var(--width, 110px);
    height: var(--height,110px);
    background-color: var(--main-color-ball, red);
    border-radius:var(--border-radius,60px);
}
